<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.camtests"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
    	android:targetSdkVersion="19" />
    
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
    
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"></uses-permission>
	
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.FLASHLIGHT"></uses-permission>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.camtests.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
	      android:name="com.example.camtests.PostViewActivity"
	      android:label="@string/post_view_activity_label"
	      android:screenOrientation="portrait">
            <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.example.camtests.TakePhotoActivity" />
        </activity>
		
        <service android:enabled="true"
            	android:name="com.example.camtests.WorkerService">
        </service>
        
        <meta-data
   			android:name="com.google.android.maps.v2.API_KEY"
   			android:value="AIzaSyDUByW0WOvqncYicU638IJhro0noZr9l4M"> <!-- MIHAI -->
        </meta-data>
    </application>

    <!-- android:value="AIzaSyD8Ho7Sbyn90GDs1MCu0SJw5YJJotcrkH4"> --> <!-- CALIN -->
</manifest>
